<section class="social">
	{{ with .Site.Params.social.twitter }}
	<a href="https://twitter.com/{{.}}" rel="me"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.github }}
	<a href="https://github.com/{{.}}" rel="me"><i class="fa fa-github" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.newspicks }}
	<a href="https://newspicks.com/user/{{.}}" rel="me"><img class="fa" src="/img/newspicks-logo.svg" alt="NewsPicks Logo" aria-hidden="true"></a>
	{{ end }}
	{{ with .Site.Params.social.mastodon }}
	<a href="https://{{.}}" rel="me"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.quora }}
	<a href="https://www.quora.com/profile/{{.}}" rel="me"><i class="fa fa-quora" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.wantedly }}
	<a href="https://www.wantedly.com/users/{{.}}" rel="me"><img class="fa" src="/img/wantedly-logo.svg" alt="NewsPicks Logo" aria-hidden="true"></a>
	{{ end }}
	{{ with .Site.Params.social.linkedin }}
	<a href="https://www.linkedin.com/in/{{.}}" rel="me"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.stackoverflow }}
	<a href="https://stackoverflow.com/users/{{.}}" rel="me"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.medium}}
	<a href="https://medium.com/@{{.}}" rel="me"><i class="fa fa-medium" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.keybase }}
	<a href="https://keybase.io/{{.}}" rel="me"><i class="fa fa-keybase" aria-hidden="true"></i></a>
	{{ end }}
	<a href="/index.xml" rel="me"><i class="fa fa-rss" aria-hidden="true"></i></a>
	{{ with .Site.Params.social.email }}
	<a href="mailto:{{.}}" rel="me" class="u-email"><i class="fa fa-at" aria-hidden="true"></i></a>
	{{ end }}
</section>
