<section class="social">
	{{ with .Site.Params.social.twitter }}
	<a href="https://twitter.com/{{.}}" rel="me"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.github }}
	<a href="https://github.com/{{.}}" rel="me"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.linkedin }}
	<a href="https://linkedin.com/in/{{.}}" rel="me"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.stackoverflow }}
	<a href="https://stackoverflow.com/users/{{.}}" rel="me"><i class="fab fa-stack-overflow fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.medium}}
	<a href="https://medium.com/@{{.}}" rel="me"><i class="fab fa-medium fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.keybase }}
	<a href="https://keybase.io/{{.}}" rel="me"><i class="fab fa-keybase fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.email }}
	<a href="mailto:{{.}}" rel="me"><i class="fas fa-at fa-lg" aria-hidden="true"></i></a>
	{{ end }}
</section>
