{{ $include_toc := .Params.include_toc}}
<!-- Include Analytics here -->
<!-- Include Icons here -->
{{ with .Site.Params.toc }}
{{ if and (eq . "tocbot") (ne $include_toc false) }}
<script src="https://cdn.jsdelivr.net/npm/tocbot@4.7.0/src/js/index.js" integrity="sha256-FzO0BTCG4ysA2Ojxqtb5ehapBnjgHNKJdVq7+sJAp1k=" crossorigin="anonymous"></script>
<script type="text/javascript">
  if (tocbot) {
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.post',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h2, h3, h4',
      collapseDepth: 4
    });
  }
</script>
{{ end }}
{{ end }}
<script src='/prism/prism.js'></script>