{{ if ne .Params.showpagemeta false }}
<div class="post__meta">
    <!-- published date -->
    {{ if not .Date.IsZero }}
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <time class="item__date dt-published" datetime="{{ .Date }}">
        {{ .Date.Format (.Site.Params.dateformat | default "2 January, 2006") }}
      </time>          
    {{ end }}
    &nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i>
    {{.ReadingTime}} min read
    &nbsp; <i class="fa fa-folder" aria-hidden="true"></i>
    {{ with .Params.categories }}
    {{ $total := len . }}
    {{ if gt $total 0 }}
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort . }}
            <a class="badge badge-category p-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
            {{ if lt $i $total }},{{ end }}
        {{ end }}
    {{ end }}
  {{ end }}
  <br/>
  {{ with .Params.tags }}
    {{ $total := len . }}
    {{ if gt $total 0 }}
    <i class="fa fa-tags" aria-hidden="true"></i>
        {{ $subtotal := sub $total 1 }}
        {{ range $i, $tag := . }}
          <a class="badge badge-tag p-category" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">#{{ $tag | lower }}</a>
          {{ if lt $i $subtotal }} {{ end }}
        {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
