{{ $enabledPostNavigation := .Site.Params.postNavigation | default true }}
{{ if $enabledPostNavigation }}
<div class="navigation navigation-single">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-prev h-entry">
      <i aria-hidden="true" class="fa fa-chevron-left"></i>
      <span class="navigation-tittle p-name">{{ .Title }}</span>
    </a>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="navigation-next h-entry">
      <span class="navigation-tittle p-name">{{ .Title }}</span>
      <i aria-hidden="true" class="fa fa-chevron-right"></i>
    </a>
    {{ end }}
</div>
{{ end }}
