.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 10px 20px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: $tab-selector-colour;
}

.tabset > label:hover {
  color: $tab-selector-selected-colour;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $tab-selector-selected-colour;
  transition: background 0.5s;
}

.tabset > input:checked + label {
  border-color: $tab-border-colour;
  border-bottom: 1px solid $tab-header-background-colour;
  margin-bottom: -1px;
  border-top-right-radius: 10px;
  transition: border-color 0.5s, border-bottom 0.0s;
}
.article-old {
  font-size: smaller;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid gray;
  -moz-box-shadow: 0 0 5px rgba(255,255,255,0.1);
  -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1);
  box-shadow: 0px 0px 5px rgba(255,255,255,0.1);
}
.comments-disabled {
  font-size: small;
  font-style: italic;
  border-top: 1px solid gray;
}
.comments-age, .article-age {
  color: $terminal-cursor;
}
.tab-panel {  
  padding-left: 10px;
  border-top: 1px solid #ccc;
}
.tabset {
  border-bottom: 1px solid #ccc;
}
.related-link a {
  color: $link-color !important;
}
.related-link a:hover {
  color: $link-hover-color !important;
}
.terms-badge,.terms-title {
  font-size: 0.9em;
  font-weight: bold;
}
.terms-badge-count {
  font-size: 0.8em;
  color: $terminal-cursor;
}
.terms-list li {
  margin-left: -15px;
  margin-top: -10px;
  font-size: 1.0em;
  list-style-type: none;
}
.notes-list li {
  margin-left: -20px;
  list-style-type: none;
}
.notes-categories li a:hover {
  text-decoration: none;
}
.front-page article {
  margin-bottom: 1em;
}
.front-page .badge {
  margin: 0px;
}
figure {
  margin: 1em;
  figcaption {
    border-bottom: none;
  }
  img {
    margin: 0px;
    padding: 0px
  }
}