.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 10px 20px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: $tab-selector-colour;
}

.tabset > label:hover {
  color: $tab-selector-selected-colour;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $tab-selector-selected-colour;
  transition: background 0.5s;
}

.tabset > input:checked + label {
  border-color: $tab-border-colour;
  border-bottom: 1px solid $tab-header-background-colour;
  margin-bottom: -1px;
  border-top-right-radius: 10px;
  transition: border-color 0.5s, border-bottom 0.0s;
}

.tab-panel {  
  padding-left: 10px;
  border-top: 1px solid #ccc;
}
.tabset {
  border-bottom: 1px solid #ccc;
}