* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%; // for iOS
	// box-direction: normal;
	font-family: $root-font-family;
	font-size: $small-device-font-size;
	line-height: $root-line-height;
	font-weight: $root-font-weight;
}

html, body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	color: $gray-2;
	font-weight: $heading-font-weight;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom: 1rem;
}

h2 {
	font-size: $h2-font-size;
	line-height: $h1-line-height;
	margin-bottom: .5rem;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

strong {
	color: $gray-2;
}

hr {
	border-color: $pink;
	margin: 1.5rem 0;
}

figure {
	max-width: 100%;
	margin: 2rem 0;
	padding: 0;
}

figcaption {
	font-family: $code-font-family;
	font-size: $code-font-size;
	@include link-hover();
	color: $gray-4;
}

%quotebox {
	font-size: $code-font-size;
	padding-left: 1.29rem;
	padding-right: 1.29rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 0px;
	margin-right: 0px;
	//border-radius: 6px;
	// border-left: 6px solid;
	// border-right: 6px solid transparent;
	// border-right-width: 6px;
	// border-right-style: solid;
	// border-right-color: rgba(0, 0, 0, 0) transparent;
	// color: #7a7a7a;
	border: 1px solid $one-orange-dark;
}

blockquote {
	// background-color: #fafafa;
	// border-left-color: #e6e6e6;
	@extend %quotebox;

	-moz-box-shadow: 0 0 10px hsla(0,0%,100%,.1);
	-webkit-box-shadow: 0 0 10px hsla(0,0%,100%,.1);
	box-shadow: 0px 0px 10px hsla(0,0%,100%,.1);
	background-color: $one-grey-3;

	p {
		position: relative;

		&:before {
			content: ">";
			display: block;
			position: absolute;
			left: -4.8%;
			color: $pink;	
		}
	}
	strong {
		color: $one-title;
		font-style: italic;
		border-bottom: 1px dotted $one-title;
	}
}

.important,
.warning,
.information,
.update {
	background-color: rgba($yellow,.2);
	@extend %quotebox;
	border-color: $yellow;
	padding-bottom: 1rem;

	&::before {
		content: "Note";
		color: $yellow;
		display: block;
		text-align: center;
	}
}

.warning {
	background-color: rgba($orange,.2);
	border-color: $orange;

	&::before {
		content: "Warning";
		color: $orange;
	}
}

.information {
	background-color: rgba($cyan,.2);
	border-color: $cyan;

	&::before {
		content: "Warning";
		color: $cyan;
	}
}

.update {
	background-color: rgba($light-blue,.2);
	border-color: $light-blue;

	&::before {
		content: "";
	}

	time {
		display: block;
		text-align: center;
		
		&::before {
			content: "Update ";
			color: $light-blue;
		}
	}
}

kbd {
	font-family: $code-font-family;
	padding: 2px 7px;
	border: 2px solid $gray-4;
	font-size: 0.8em;
	line-height: 1.4;
	background-color: #f3f3f3;
	color: $gray-9;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 2px $white inset;
	border-radius: 4px;
	display: inline-block;
	text-shadow: 0 1px 0 $white;
	white-space: nowrap;
	&:hover {
		font-weight: 600;
		cursor: pointer;
	}
}

a {
	//border-bottom: 1px dotted;
	color: $link-color;
	text-decoration: none;
	word-wrap: break-word;
	&.sidebar-nav-item {
		&:hover {
			@include link-no-decoration();
		}
		&:focus {
			@include link-no-decoration();
		}
	}
	&:focus {
		@include link-hover();
		&.tag {
			@include link-no-decoration();
		}
	}
	&:hover {
		@include link-hover();
		&.tag {
			@include link-no-decoration();
		}
	}
	&.tag {
		@include link-no-decoration();
	}
	&.read-more-symbol {
		text-decoration: none;
		color: $one-orange;
		@include link-no-decoration();
	}
}


.content {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
