.badge-category,
a.badge-category {
  color: $badge-category-colour;
  &:hover, &:focus {
    @include link-hover();
    color: $badge-category-colour;
  }
}
.badge-guide,
a.badge-guide {
  color: $badge-guides-colour;
  &:hover, &:focus {
    @include link-hover();
    color: $badge-guides-colour;
  }
}
.badge-tag,
a.badge-tag {
  color: $badge-tag-colour;
  &:hover, &:focus {
    @include link-hover();
    color: $badge-tag-colour;
  }
}

.badge {
  margin: 0.25em 0.4em;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
