<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      {{ if .IsHome }}<h1{{ else }}<span{{ end }} class="site__title">
       <span class="prompt">&gt;</span><a class="u-url" href="{{ .Site.BaseURL }}">cd {{ .Site.Params.Header }} <span class="logo-cursor"></span></a>
      {{ if .IsHome }}</h1>{{ else }}</span>{{ end }}
      {{ if and (isset .Site.Params "authorimage") }}
        {{ with .Site.Params.authorimage }}
        {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
        {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
        <div class="author-image">
          <img src="{{$authorImage}}" alt="Author Image" class="img--circle img--headshot element--center u-logo">
        </div>
        {{ end }}
      {{ end }}
      <p class="site__description">
        {{ with .Site.Params.title }} {{.}} {{end}}
      </p>
    </div>
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle"><span class="prompt">&gt;</span> cd {{ .Site.Params.Header }} <span class="logo-cursor"></span></label>
      <div class="menu-content">
        {{ partial "sidebar/social.html" . }}
        <hr>
        {{ partial "sidebar/menu.html" . }}
        <hr>
        <!--{{ partial "sidebar/projects.html" . }}-->
      </div>
    </div>
    {{ partial "sidebar/copyright.html" . }}
  </div>
</div>
