{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  <div class="post-list">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ if .Draft }}
        {{ .Scratch.Set "draftPage" true }}
      {{ else }}
        {{ .Scratch.Set "draftPage" false }}
      {{ end }}
      <article class="post-list__item h-entry">
        <h2 class="item__title--big p-name">
          <a href="{{ .RelPermalink }}" class="{{if .Scratch.Get "draftPage" }}draft {{end}}u-url">{{ .Title }}</a>
        </h2>
        <time class="item__date dt-published" datetime="{{ .Date }}">
          {{ .Date.Format (.Site.Params.dateformat | default "2006年01月02日") }}
        </time>
        <span class="{{if .Scratch.Get "draftPage" }}draft {{end}}p-summary">
        {{ if .Description }}
        {{ .Description }}
        {{ else }}
        {{ .Summary }}
        {{ end }}
        </span>
        {{ if .Truncated }}
          ... <a class="read-more-symbol" href="{{ .RelPermalink }}">➦</a>
        {{ end }}
      </article>
        {{ .Scratch.Delete "draftPage" }}
     {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}

{{ define "footer" }}
  <!-- Include Analytics here -->
  <!-- Include Icons here -->
{{ end }}
