<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ "<!-- Enable responsiveness on mobile devices -->" | safeHTML }}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{{ if .IsHome }}
    {{ $.Scratch.Set "theTitle" .Site.Title }}
{{ else }}
    {{ $.Scratch.Set "theTitle" .Title}}
    {{ $.Scratch.Add "theTitle" " • "}}
    {{ $.Scratch.Add "theTitle" .Site.Title}}
{{ end }}
{{ $.Scratch.Set "featureImage" "" }}
{{ with $.Params.images }}
  {{ $.Scratch.Set "featureImage" (index . 0 | absURL) }}
{{ end }}
<title itemprop="name">{{ $.Scratch.Get "theTitle" }}</title>
<meta name="author" content="{{ .Site.Params.Author }}" />
<meta name="copyright" content="{{ .Site.Params.Author }}" />

<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />

{{- if .IsPage }}
<meta name="title" content="{{ $.Scratch.Get "theTitle" }}" />
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ range $key, $value := .Params.tags }}{{ if $key }}, {{ end }}{{ $value }}{{ end }}" />
<script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Title }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",          
      "image": {
        "@type": "imageObject",
        "url": "{{ $.Scratch.Get "featureImage" }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "{{ "/favicon-32x32.png" | absURL }}"
        }
      }
    }
  </script>
{{ else}}
{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{.}}">{{ end }}
{{- end }}{{/* .IsPage */}}

{{ template "_internal/twitter_cards.html" . }}
{{ with .Site.Params.social.twitter }}
<meta name="twitter:site" content="@{{.}}" />
<meta name="twitter:creator" content="@{{.}}" />
{{ end }}
<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />
<meta name="theme-color" content="#292A2C" /> 
<meta name="msapplication-TileColor" content="#292A2C" />
<meta name="imagemode" content="force" />
<meta name="coverage" content="Worldwide" /> 
<meta name="distribution" content="Global" />
<meta name="HandheldFriendly" content="True" /> 
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" /> 
<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
{{ template "_internal/opengraph.html" . }}